<%- include ('header') ; -%>

<div class="header">
    <img id="LOGODIS" src="images/Logo.png" >
   <a href="/DisCoverAPP"> <h2 id="DIS">Discover App</h2> </a>
    <a href="/FindFood"><h2 id="Fin">Find Food</h2>	</a>
</div>
<div class="BOX">
    <h3 id="ABOUTAS"> About As :</h3>
    <p id="Disc">Given a set of food ingredients available at home we suggest (recommend) a list of meals to cook
        based on the available ingredients.
        </p>
    
</div>


<div class="BOX">
    <h3 id="ABOUTAS"> How to use it?</h3>
    <p id="Disc">The user Selects a set of ingredients either from
        the recommended list or by inserting from input box.
        The system shall view the recommended meals 
        according to the inserted ingredients as a list , with
         a filter property to filter results by time or  food type.
        
        </p>
    
</div>

           <!--تسكيرة الديف الكبيرة-->
        </div>
        <!--تسكيرة الديف تبعت الصورة "الباكجراوند"-->
       </div>
           
       </body>
       </html>