<%- include ('header') ; -%>
<div class="header">
    <img id="LOGODIS" src="images/Logo.png" >
   <a href="/DisCoverAPP"> <h2 id="DIS1">Discover App</h2> </a>
    <a href="/FindFood"><h2 id="Fin1">Find Food</h2>	</a>
</div>
<p id="Disc1">To Find Your Food Please Login</p>
<div class="wrap-login100">

    <form class="login100-form validate-form " action="/Select" method="POST">


        <span class="login100-form-title p-b-34 p-t-27">
            Log in
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" type="text" id="username" name="username" placeholder="Username">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" id="password" name="password" placeholder="Password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact100-form-checkbox">
            <a class="txt1" href="ForgetPass.html">
                Forgot Password?
            </a>
        </div>

            <div class="container-login100-form-btn">
                <a href="SELECT.html">
                <button class="login100-form-btn" type="submit">
                    Sign In
                </button>

            </div>



    </form>

</div>

<div class="container-login100-form-btn">
    <a href="/CreateAcount"><button class="login100-form-btn">Create Account</button></a>
</div>
 <!--تسكيرة الديف الكبيرة-->
 </div>
 <!--تسكيرة الديف تبعت الصورة "الباكجراوند"-->
</div>

</body>
</html>