<!DOCTYPE html>
<html lang="en">
<head>
	<title>Select Ingredients</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
        <div class="containerSkil" style="background-image: url('images/bg-01.jpg');">
            <h1 id ="Cookingtitle">Select Ingredients</h1>
            <div>
				<div class="SELECT_BOX">
				<form action="/result" method="POST">
					<select size="5">
						<option class ="SELECT" style="background-image:  url('images/8.png'); background-size:40px 40px; background-repeat: no-repeat; background-position: center;"></option>
						<option class ="SELECT"  style="background-image:  url('images/10.png'); background-size:40px 40px; background-repeat: no-repeat; background-position: center;"></option>
						<option class ="SELECT"  style="background-image:  url('images/11.png'); background-size:40px 40px; background-repeat: no-repeat; background-position: center;"></option>
						<option class ="SELECT" style="background-image:  url('images/12.png'); background-size:40px 40px; background-repeat: no-repeat; background-position: center;"></option>
						<option class ="SELECT"  style="background-image:  url('images/14.png'); background-size:40px 40px; background-repeat: no-repeat; background-position: center;"></option>
				</select>
			  </div>
			</div>
			<button class="login100-form-btn" type="submit">submit</button>
		</form>



	    </div>
	</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>