<%- include ('header') ; -%>

<div class="limiter">
    <div class="containerSkil" style="background-image: url('images/bg-01.jpg');">
        <h1 id ="Cookingtitle">Cooking Skils</h1>
        <div>
            <div class="SKILS_BOX">
                <form action="/CreateAcount/FoodLove" method="POST">
                    <select size="3" id="Skills">
                        <option value="Beginner" class ="SKILS" style="background-image:  url('images/2.png'); background-size:60px 60px; background-repeat: no-repeat; background-position: center;">Beginner</option>
                        <option value="Intermediate" class ="SKILS"  style="background-image:  url('images/3.png'); background-size:60px 60px; background-repeat: no-repeat; background-position: center;">Intermediate</option>
                        <option value="Advanced" class ="SKILS"  style="background-image:  url('images/4.png'); background-size:60px 60px; background-repeat: no-repeat; background-position: center;">Advanced</option>
                    </select>

                  </div>
                  </div>


             <div class="container-SKIL-form-btn">
            <a href="/createacount"><button class="login100-form-btn">Pre</button></a>
            <button class="login100-form-btn" type="submit">Next</button>
        </form>

        </div>



    </div>
</div>



<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
