/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}
#LOGODIS{
  height: 170px;
  margin: 30px 1000px 0px -180px ;
}
  #DIS{
     margin: -100px 30px 0px 40px ;
     font-family: Italic;
     color:black;
     text-decoration: underline;

    }
    #DIS1{
      margin: -100px 30px 0px 100px ;
      font-family: Italic;
      color:black;
 
     }
    #Fin{
      margin: -30px 30px 0px 300px ;
      font-family: Italic;
      color:black;
 
     }
     #Fin1{
      margin: -37px 30px 0px 370px ;
      font-family: Italic;
      color:black;
      text-decoration: underline;

 
     }

/*---------------------------------------------*/


p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Italic;
  font-size: 13px;
  color:#13E48F;
  line-height: 1.5;
  text-decoration: underline;
}
.txt2 {
  font-family: Italic;
  font-size: 30px;
  color:black;
  line-height: 1;

  margin: 0px 0px 0px 0px;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.containerSkil{
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

}
  .containerSkil::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0);

  }
  .SKILL{
    margin: 50px 30px 30px 30px;
    flex-direction: column;
  }
  .profile{
    margin: 0px 0px 0px 0px;
    flex-direction: column;
  }
  .informaion{
    width: 600px;
    height: 350px;
    margin :0px 150px 60px -230px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 180px 0px 0px;
    
  }
  
  
  #Cookingtitle{
    font-family: Italic;
    font-size: 70px;
    color:black;
    margin: 70px 30px 0px 30px;

  }
  .SKILS{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    opacity: 0.7;
    margin: 30px 30px 30px 30px;
    padding: 110px 0px 0px 30px;
  }

  .SKILS:hover {
    background-color:#13E48F; 
    color: white;
  }

  
  .LOVE{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:white;
    opacity: 0.7;
    margin: 30px 30px 30px 60px;
    padding: 110px 0px 0px 30px;
  }
  .LOVE:hover {
    background-color:#13E48F; 
    color: white;
  }


  
  .pro{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 90px;
    background-color:white;
    opacity: 0.7;

  }

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}



.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0);
}


.container-profile {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}



.container-profile::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0);
 

}

.wrap-login100 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0px 30px 0px;
  padding: 30px 55px 37px 55px;
  background: #0D0C0C;
  opacity: 0.8;

}
.wrap-forget{
  width: 350px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0px 30px 0px;
  padding: 30px 55px 37px 55px;
  background: #0D0C0C;
  opacity: 0.8;

}
.wrap-reset {
  width: 350px;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
  margin: 100px 0px 30px 0px;
  padding: 30px 55px 15px 20px;
  background: #0D0C0C;
  opacity: 0.8;

}

.wrap-signup {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0px 30px 0px;
  padding: 30px 55px 37px 55px;
  

  background: #0D0C0C;
  opacity: 0.8;
}
.header{margin: 0px 0px 0px 100px;}
.BOX{width: 600px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  margin: 90px 160px 0px -400px;
  padding: 0 auto;
  background: #0D0C0C;
  opacity: 0.8;}

  #ABOUTAS{
  color:#13E48F;
  font-family: Italic;
  margin: 10px 0px 0px 7px;
}
#Disc{
  color: white;
  font-family: Italic;
  margin: 10px 0px 0px 7px;}
  #Disc1{
    color: black ;
    font-size: 40px;
    font-family: Italic;
    margin: 100px 0px 0px 7px;}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}
#LOGO{
  height: 170px;
  margin: 30px 0px 0px 0px ;
}

.login100-form-title {
  font-family: Italic;
  font-size: 30px;
  color: #13E48F;
  line-height: 1.2;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Italic;
  font-size: 16px;
  color: #E7F2EE  ;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}





/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}
.contact100-form-info {
  padding : 0px 4px 5px 20px;
  
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-SKIL-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: center;
}

.login100-form-btn {
  font-family: Italic;
  font-size: 16px;
  color: white;
  margin: 10px 30px 30px 30px;

  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: -webkit-linear-gradient(bottom, #FDFEFE,#2ECC71);
  background: -o-linear-gradient(bottom,  #FDFEFE, #2ECC71);
  background: -moz-linear-gradient(bottom, #FDFEFE, #2ECC71);
  background: linear-gradient(bottom,  #FDFEFE, #2ECC71);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: white;
  background-color: #13E48F  ;
  top: 0;
  left: 0;
  /*buttn login*/
opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color:black;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



.signup-form-btn {
  font-family: Italic;
  font-size: 16px;
  color: white;
  margin: 10px 30px 30px 170px;

  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: -webkit-linear-gradient(bottom, #FDFEFE,#2ECC71);
  background: -o-linear-gradient(bottom,  #FDFEFE, #2ECC71);
  background: -moz-linear-gradient(bottom, #FDFEFE, #2ECC71);
  background: linear-gradient(bottom,  #FDFEFE, #2ECC71);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.signup-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: white;
  background-color: #13E48F  ;
  top: 0;
  left: 0;
  /*buttn login*/
opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.signup-form-btn:hover {
  color:black;
}

.signup-form-btn:hover:before {
  opacity: 0;
}







.focus-informaion {
  position: absolute;
  display: block;
  margin:0px 0px 15px -30px;
  pointer-events: none;
  color:black;
}

.focus-informaion::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: black;
}

.focus-informaion::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: black;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#drink-holder select option {
  display:inline-block;
}

#drink-holder {
 
  display:inline-block;
  vertical-align:top;
  
}


select {
  width: 100%;
  height: 100%;
  appearance: none;
 background-color: transparent;
 border: 0;
}


.SKILS_BOX select option {
display:inline-block;

}

.SKILS_BOX {

  width: 630px;
  height: 220px;
  display:inline-block;
  vertical-align:top;
  margin: 60px 60px 60px 60px;
}




.LOVE_BOX select option {
  display:inline-block;
  
  }
  
  .LOVE_BOX {
  
    width: 630px;
    height: 220px;
    display:inline-block;
    vertical-align:top;
    margin: 60px 60px 60px 60px;
  }
  .SELECT_BOX select option{
    display:inline-block;
  }

  .SELECT_BOX {
    background-color:none;
    width: 750px;
    height: 180px;
    display:inline-block;
    vertical-align:top;
    margin: 60px 60px 60px 60px;
  }
  .SELECT{
    background-color:none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
    opacity: 0.7;
    margin: 30px 30px 30px 20px;
    padding: 110px 0px 0px 30px;
  }
  .SELECT:hover {
    background-color:#13E48F; 
    color: white;
  }